@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
body{
    font-family: 'Belanosima', sans-serif;
    height: 100vh;   
}
.bg-info{
    background-color: rgb(85, 200, 246) !important; 
}
.bg-warning{
    background-color: rgb(240, 217, 86) !important;
}
#carousel{
    max-height: 65vh;
}
.carousel-item > img{
    filter: brightness(80%);
    
}
#carouselExampleFade{
    object-fit: contain;
}
.card > .card-img-top{
    object-fit: contain;
}